<div class="centered-content">
    <div class="my-card content">
        <h4>
            Your Passwords are Safely Stored!
        </h4>
        <br>
        <button class="btn-ripple ripple" routerLink="./all-passwords">Check All Passwords</button>
    </div>
    <div class="my-card content">
        <h4>
            Add Another Password! <br>
            :)
        </h4>
        <br>
        <button class="btn-ripple ripple" routerLink="./add-password">
            <!-- <h4 style="color: #FF0000"> -->
            Add New Password
            <!-- </h4> -->
        </button>
    </div>
    <div class="my-card content">
        <h4>
            Do You Want to Remove Sites?
        </h4>
        <br>
        <button class="btn-ripple ripple" routerLink="./delete">Remove password</button>
    </div>
</div>
