<div class="my-form">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">WebSite: </label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input #website class="input" type="text" placeholder="WebSite Name">
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Username: </label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input #username class="input" type="text" placeholder="Username">
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Password: </label>
        </div>
        <div class="field-body">
            <div class="field">
                <p class="control">
                    <input [(ngModel)]="password" class="input" type="text" placeholder="password">
                    <button class="btn-ripple ripple" style="left: 80%; margin-top:20px;"
                        (click)="getNewPassword()">generate password</button>
                    <!-- <div>{{ password }}</div> -->
                </p>
            </div>
        </div>
    </div>
    <br>
    <button class="btn-ripple ripple" style="left: 87%;" (click)="addPassword(website, username)">Add
        password</button>
</div>
