<table class="table" style="width: 100%; margin-top: 20px; border: 1px solid #121212;">
    <thead>
        <tr>
            <th>S. No</th>
            <th>Website</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of allRows; let idx = index">
            <td>{{ idx+1 }}</td>
            <td>{{ obj[1] }}</td>
            <td>{{ obj[2] }}</td>
            <td>{{ obj[3] }}</td>
        </tr>
    </tbody>
</table>

<button class="btn-ripple ripple" routerLink="../" style="left: 87%">Go Back</button>
