<table class="table" style="width: 100%; margin-top: 20px; border: 1px solid #121212;">
    <thead>
        <tr>
            <th>id</th>
            <th>website</th>
            <th>username</th>
            <th>password</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let obj of allRows">
            <td>{{ obj[0] }}</td>
            <td>{{ obj[1] }}</td>
            <td>{{ obj[2] }}</td>
            <td>{{ obj[3] }}</td>
        </tr>
    </tbody>
</table>

<div class="field is-horizontal" style="padding: 20px">
    <label>
        Enter Id of row to be deleted:
        <input #ID type="number" style="margin: 20px;">
        <button class="btn-ripple ripple" (click)="delete(ID)">Delete</button>
    </label>
    <button class="btn-ripple ripple" routerLink="../" style="left: 50%">Go Back</button>
</div>
